[submodule "examples/0install"]
	path = examples/0install
	url = https://github.com/0install/0install
[submodule "examples/bap"]
	path = examples/bap
	url = https://github.com/BinaryAnalysisPlatform/bap
[submodule "examples/base"]
	path = examples/base
	url = https://github.com/janestreet/base
[submodule "examples/cmdliner"]
	path = examples/cmdliner
	url = https://github.com/dbuenzli/cmdliner
[submodule "examples/dune"]
	path = examples/dune
	url = https://github.com/ocaml/dune
[submodule "examples/eio"]
	path = examples/eio
	url = https://github.com/ocaml-multicore/eio
[submodule "examples/js_of_ocaml"]
	path = examples/js_of_ocaml
	url = https://github.com/ocsigen/js_of_ocaml
[submodule "examples/lablgtk"]
	path = examples/lablgtk
	url = https://github.com/garrigue/lablgtk
[submodule "examples/lwt"]
	path = examples/lwt
	url = https://github.com/ocsigen/lwt
[submodule "examples/melange"]
	path = examples/melange
	url = https://github.com/melange-re/melange
[submodule "examples/merlin"]
	path = examples/merlin
	url = https://github.com/ocaml/merlin
[submodule "examples/ocaml"]
	path = examples/ocaml
	url = https://github.com/ocaml/ocaml
[submodule "examples/ocaml-cohttp"]
	path = examples/ocaml-cohttp
	url = https://github.com/mirage/ocaml-cohttp
[submodule "examples/ocaml-lsp"]
	path = examples/ocaml-lsp
	url = https://github.com/ocaml/ocaml-lsp
[submodule "examples/ocamlformat"]
	path = examples/ocamlformat
	url = https://github.com/ocaml-ppx/ocamlformat
[submodule "examples/opam"]
	path = examples/opam
	url = https://github.com/ocaml/opam
[submodule "examples/owl"]
	path = examples/owl
	url = https://github.com/owlbarn/owl
[submodule "examples/ppxlib"]
	path = examples/ppxlib
	url = https://github.com/ocaml-ppx/ppxlib
[submodule "examples/pyre-check"]
	path = examples/pyre-check
	url = https://github.com/facebook/pyre-check
