* text eol=lf

grammars/interface/src/*.json linguist-generated
grammars/interface/src/parser.c linguist-generated

grammars/ocaml/src/*.json linguist-generated
grammars/ocaml/src/parser.c linguist-generated

include/tree_sitter/* linguist-vendored

bindings/** linguist-generated
binding.gyp linguist-generated
