* text=auto eol=lf

grammars/ocaml/src/*.json linguist-generated
grammars/ocaml/src/parser.c linguist-generated
grammars/ocaml/src/tree_sitter/* linguist-vendored

grammars/interface/src/*.json linguist-generated
grammars/interface/src/parser.c linguist-generated
grammars/interface/src/tree_sitter/* linguist-vendored

grammars/type/src/*.json linguist-generated
grammars/type/src/parser.c linguist-generated
grammars/type/src/tree_sitter/* linguist-vendored

bindings/** linguist-generated
binding.gyp linguist-generated
setup.py linguist-generated
Makefile linguist-generated
Package.swift linguist-generated
